@font-face{
  font-family: "Lineage2";
  src : url("./fonts/l2font.ttf");
}
@font-face{
  font-family: "LemonMilkRegular";
  src : url("./fonts/LemonMilkRegular.otf");
}
@font-face{
  font-family: "NightmarePills";
  src : url("./fonts/NightmarePills-BV2w.ttf");
}
@font-face{
  font-family: "im-fell-english-it";
  src : url("./fonts/IMFeENit29P.ttf");
}
@font-face{
  font-family: "im-fell-english-rm";
  src : url("./fonts/IMFeENrm29P.ttf");
}
@font-face{
  font-family: "im-fell-english-sc";
  src : url("./fonts/IMFeENsc29P.ttf");
}

